// variables
$toolbar-height = 30px;
$pres-max-width = 700px;
$pres-height = 400px;
$standart-border-color = #c0c6d2;
$focus-border-color = #4d90fe;

// mixins
background-gradient(startColor, endColor){
	background: startColor;
	background: linear-gradient(top, startColor, endColor);
}

absolute-element(top, right, bottom, left){
	position: absolute;
	top: top;
	right: right;
	bottom: bottom;
	left: left;
}

absolute-top-bottom(top, bottom){
	position: absolute;
	top: top;
	bottom: bottom;
}

no-selection(){
	user-select: none;
}

border-radius(){
	border-radius arguments;
}

transitions(){
	if arguments {
		transition: arguments;
	} else {
		transition: all 0.5s ease;
	}
}

shadow(){
	box-shadow: arguments;
}


//



body {
	color: #323232;
	margin:  0;
	padding: 0;
	font-size: 100%;
	font-family: Helvetica, tahoma, verdana, arial, sans-serif;
	background: #dde4ea;
}

.pres{
	position: relative;
	margin: 30px auto;
	border: 1px solid $standart-border-color;
	background: #323232;
	max-width: $pres-max-width
	height: $pres-height
	no-selection()

	&__wrap-slide{
		absolute-element(0, 0, $toolbar-height, 0)
	}

	&__slide{
		absolute-element(0, 0, 0, 0)
		margin: auto;
		max-height: 100%;
		max-width: 100%;
		display: block; 
	}

	

	&__nav{
		absolute-top-bottom(0, $toolbar-height)
		width: 25%;
		cursor: pointer;
		display: block;
		text-decoration: none;

		&:active .icon-prev,
		&:active .icon-next,{
			margin-top: -9px;
		}

		&_prev,
		&_prev &-btn{
			left: 0;
		}

		&_prev &-btn{
			border-radius(0 3px 3px 0)
		}

		&_next,
		&_next &-btn{
			right: 0;
		}

		&_next &-btn{
			border-radius(3px 0 0 3px)
		}

		&_disabled{
			display: none;
		}

		&-btn{
			absolute-top-bottom(50%, auto)
			width: 50px;
			height: 100px
			margin-top: -50px;
			background: #000;
			background: rgba(0, 0, 0, 0.5);
			opacity: 0;
			transitions(opacity 0.4s ease-out)

			& > .icon-next,
			& > .icon-prev{
				position: absolute;
				top: 50%;
				margin-top: -10px; 
			}

			& > .icon-prev{
				left: 12px;
			}

			& > .icon-next{
				right: 12px;
			}
		}

		&:hover &-btn{
			opacity: 1;
		}
	}
}

.toolbar{
	absolute-element(auto, 0, 0, 0)
	background-gradient(#fff, #eff3f6);
	height: $toolbar-height;
	border-top: 1px solid $standart-border-color;

	&__pagination{
		text-align: center;
		margin: 2px 0 0 0;
	}

	&__search-page{
		absolute-element(2px, auto, auto, 2px)
	}

	&__length{
		display: inline-block;
		font-size: (12/16) * 100%;
		line-height: (18/12) * 100%;
		padding: 4px 0;
	}

	&__fullscreen{
		absolute-element(2px, 2px, auto, auto)
	}
}



.btn-link{
		display: inline-block;
		cursor: pointer;
		padding: 3px;
		opacity: 0.7;
		text-decoration: none !Important;
		vertical-align: top;

		&:hover{
			opacity: 1;
		}

		&:active{
			padding: 4px 3px 2px 3px;
		}

		&_disabled{
			cursor: default;
			padding: 3px !important;
			opacity: 0.3 !important;
		}
	}



.input-text{
	border: 1px solid #c0c6d2;
	shadow(inset 0px 2px 5px #cdd2de)
	background: #fff;
	padding: 3px;
	font-size: 100%;
	line-height: (18/16) * 100%;
	box-sizing: content-box;

	&_num{
		width: 30px;
		text-align: center;
	}

	&:focus{
		outline: none;
		border: 1px solid $focus-border-color;
	}
}

.button{
	padding: 3px 8px;
	border-radius(2px)
	border: 1px solid #dcdcdc;
	border: 1px solid rgba(0,0,0,0.1);
	background-gradient(#f5f5f5, #f1f1f1)
	color: #444;
	font-weight: bold;
	font-size: (12/16) * 100%;
	line-height: (18/12) * 100%;
	box-sizing: content-box;

	&:hover{
		background-gradient(#f8f8f8, #f1f1f1)
		border: 1px solid #c6c6c6;
		color: #222;
		shadow(0 1px 1px rgba(0,0,0,0.1))
	}

	&:active{
		border: 1px solid $focus-border-color;
	}

	&:focus,
	&:active{
		outline: none;
	}
}

.m{
	vertical-align: middle;
}




